body{
    margin: 0;
    padding: 20px;
}
.container{
    margin: 100px;
    padding: 100px;
    text-align: center;
    background-color: blanchedalmond;
    height: 50%;

}
.text-container{
    padding: 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    align-items: center;
    background-color: beige;
    height: 20%;
}
.check-btn{
    margin: 10px;
    padding: 10px;
}