body{
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-color: #f9f9f9;
}
h1{
    color: #333;
}
#fis{
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid black;
    background-color: #fff;
}