body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#metinDiv {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Başlangıçta gizli */
}
button {
    padding: 10px 15px;
    background-color: #4a84b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2e67b3;
}